body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7e7e7;
  margin-bottom: 1.2rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.col-sm-4,
col-lg-4,
col-md-4 {
  margin-top: 1.2rem;
}

.card {
  display: inline-block;
  min-width: 100%;
  min-height: 16rem;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(163,163,163,0.21);
  -moz-box-shadow: 2px 2px 2px 1px rgba(163,163,163,0.21);
  box-shadow: 2px 2px 2px 1px rgba(163,163,163,0.21);

  .card-body {
    padding: 0;

    &.card-pulsating {
      height: 100%;

      .gradient {
        height: 100%;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
        background-size: 1000px 640px;
        position: relative;
      }

      .placeholder-element {
        position: absolute;
        top: 10%;
        left: 10%;
        margin: 0 auto;
        height: 80%;
        width: 80%;
      }
    }
  }
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  &:hover .card-body {
    opacity: 0.3;
    transition: 0.5s ease;
  }

  &:hover .overlay {
    opacity: 0.65;
    transition: 0.5s ease;
  }

  &:hover .favorite-overlay {
    opacity: 1;
    transition: 0.5s ease;
  }

  .favorite-mark {
    &:before {
      position: absolute;
      top: 0.4rem;
      right: 0.6rem;
      color: #FFD700;
      font-size: 1.5rem;
      content: "\2605";
    }
  }
}



.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: #000;
  height: 100%;
  width: 100%;
}

.favorite-overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;

  hr {
    width: 30%;
    background-color: #fff;
  }

  h4.image-title-header {
    margin: 3.2rem 1.5rem 1rem;
  }

  h4 {
    color: #fff;
    line-height: 2rem;
    font-size: 1.3rem;
  }

  hr {
    margin-bottom: 0.3rem;
  }

  .btn {
    border-radius: 0.65rem;

    &.btn-medium-large {
      font-size: 1.1rem;
      padding: 0.4rem 0.8rem;
      margin-top: 1rem;
    }
  }
}

.wrapped-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-owner-title {
  font-style: italic;
  margin: 0.4rem 0.7rem;
}

img.image-inside-box {
  max-width: 100%;
  width: 100%;
  height: 16rem;
  object-fit: cover;
  margin: 0;
  display: block;
  border: none;
  overflow: hidden;
  padding: 0 !important;

  &.invisible-image {
    display: none;
  }

  &.visible-image {
    display: block;
  }
}

.image-not-loaded-msg {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  text-align: center;
  padding-top: 24%;
}

.image-not-loaded {
  .image-not-loaded-msg {
    display: block;
  }
}

.bottom-spinner {
  margin: 3em auto 0;
  width: 3.4em;
  text-align: center;
}

.bottom-spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bottom-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.bottom-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
